body{
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    color: whitesmoke;
    padding: 0;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedorg{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #111;
    padding: 10px 20px;
    z-index: 1000;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #20B26A;
}


.navbar h1 {
    margin: 0;
}

.links{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    margin-right: 20px;
    text-decoration: none;
    color: whitesmoke;
}

.bns{
    display: inline;
    margin-right: 20px;
}

.a{
    text-decoration: none;
    color: whitesmoke;
}

.present{
    background-color: #111;
    padding: 100px 0;
    text-align: center;
}

/* .ss{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.infomia {
    padding: 80px 0;

}

.projects {
    padding: 80px 0;
}

.contact {
    padding: 80px 0;
}

.correo{
    color: #20B26A;
}

.whp{
    color: #20B26A;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tt{
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

.inputs{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* .boton1{
    padding: 10px 20px;
    background-color:#20B26A;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
} */

/* button:hover {
    background-color: #00E76E;
} */

.boton1 {
  background: black; /* color de fondo */
  color: #20B26A; /* color de fuente */
  border: 2px solid #20B26A; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.boton1:hover {
  color: black; /* color de fuente hover */
}
.boton1::after {
  content: "";
  background: #20B26A; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.boton1:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.footer {
    display: flex;
    align-items: center;
    background-color: #111;
    padding: 20px;
    justify-content:space-between;

}

.fotcontac{
    text-align: left;
    flex: 1;
}

.botones{
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
}

.botones a{
    margin-left: 10px;
}

.botones img{
    width: 60px;
    height: 50px;
    border-radius: 50%; 
    /* border: 2px solid #ccc; */
    cursor: pointer;
}

.whatsapp {
    z-index: 9999;
    position: relative;
    bottom: 15px;
    right: 15px;
}

.linea{
    width: calc(100% - 80px) ;
    height: 1px; 
    background-color: #fff; 
    position: relative;
    left: 40px;
    bottom: 0;
}


